RewriteEngine On

# Unless directory, remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/$http://%{HTTP_HOST}/$1 [R=301,L]



# Resolve .php file for extensionless PHP URLs
RewriteRule ^([^/.]+)$ $1.php [L]